/*---------------------------------------landing page section 1-----------------------------------------------*/


.main {
    background-color: var(--cream);
    /*border: solid green;*/ 
    height: auto;
    position:relative;
}

.container-1 {   /* it contains the main image and overlaping text */
    /*border: solid red;*/
    position: relative;

    /* width: 1400px;  fixed  width, otherwise, the text overlaping doesn't work*/
}

#text_1 {
    position: absolute; /* Absolute to overlap the image*/
    top: 5%;
    left: 15%;

    width: 45%;

    font-size: clamp(20px, 8vw, 150px);
}

#img_canamo {
    /*height: 500px;  also it has to be a fixed parameter to the overlaping to work*/
    margin-left: 35%;
    margin-top: 2vw;
    max-width: 55%;
    margin-bottom: 3%;
}

.grid_2 {
    /*border: solid green 5px;*/
    display: grid;
    grid-template-columns: .2fr .2fr .2fr .2fr .2fr;
    grid-column-gap: 3%;

    margin-left: 10%;
    padding-bottom: 2%;

    word-wrap: break-word; /* encapsulates the text into the width of a div */
}

.oval_img {
    height: auto;
    width: 80%;

    border-radius: 35%;
}
/*---------------------------------------landing page section 2-----------------------------------------------*/


.container_2 {
    display: grid;
    grid-template-columns:  50fr 25fr 25fr;
    grid-template-rows: 50fr 50fr;
    grid-template-areas:  "bronce text_2 text_2"  "bronce text_3 niquelado";

    background-color: var(--white);
    padding-top: 3%;
    padding-bottom: 3%;
 }

#div_bronce {

    grid-area: bronce; /* el error que estaba cometiedo es poner dos parametros aqui*/
    padding: 5%;
}

#img_bronce {
    position: relative;
    width: 90%;
    left: 10%;
    top: 10%;


}

#text_2 {
    position: relative;
    grid-area: text_2;
    right: 5%;
    top: 1%;

    width: 80%;
}

#text_3 {
    position: relative;
    grid-area: text_3;
    width:80%;
    top: -10%;

}

#div_niquelado {
    grid-area: niquelado;
    width: 80%;
}
#img_niquelado {
    grid-area: low3;
    width: 100%;
    background-color: blue;
}
/*---------------------------------------landing page section 3-----------------------------------------------*/
.container_3 {
    display: grid;
    grid-template-columns:50fr 50fr;
    grid-template-rows: 25fr 40fr 35fr;
    grid-template-areas: "heading heading" "paragraph portacajas" "cactus portacajas";

    background-color: var(--cream);
}


#heading {
    position: relative;
    grid-area: heading;
    top: 2vw;

    text-align: center;
}

#paragraph_1 {
    position: relative;
    grid-area: paragraph;

    padding: 4vw;
    top: -6vw;
}

#div_cactus {
grid-area: cactus;

width: 100%;

}

#img_cactus1{
    position: relative;
    top: -6vw;
    left: 18vw;

    width: 25vw;
    margin-left: 25px;
}

#div_portacajas {
    position: relative;
    grid-area: portacajas;


    }

#img-portacajas1 {
    position: relative;

    max-width: 45vw;
}


/*---------------------------------------landing page footer-----------------------------------------------*/

.footer {
    display: flex;
    flex-wrap: wrap;

    min-height: 30vw;
    background-color: var(--second);
    padding: 6vw;

    font-size: .8em;
    color: var(--cream);
    text-align: center;
}

.footer > div {
    display: flex;
    flex-direction: column;

    width: 250px;
    margin-top: 0%;
    margin-bottom:8%;


    color: var(--cream);
    /* border: solid red; */
}

/* the a tag by default does not inherit color both ways below work*/
.footer a {
    color: inherit;
    text-decoration: none;
}

.footer img {
    margin-bottom: 2vw;
    min-width: 120px;
    width: 20vw;

    transform: rotate( -8deg);
}

.footer h3 {
    margin-bottom: 2vw;
    margin-top:0;
}

.footer h4 {
    padding: .4vw;
}







/*-------------------------------------landing page mobile section 1-----------------------------------------------*/

@media screen and (max-width: 768px) {
    :root {

    }

    #text_1 {
        font-size: 8vw;
    }

    #img_canamo {
        max-width: 96%;
        margin-left: 2%;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }
    .grid_2 {
        display: grid;
        grid-template-rows: 33% 33%  33%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "top top" "midle1 midle2" "bottom1 bottom2";

        margin-left: 0%;
        font-size: 2rem;
    }

    .oval_img {
        /*border: solid blue;*/
        width: 100%;
        padding: ;
        margin: 5%;
        border-radius: 20%;
    }

   .grid-item {
        width: 80%;
        opacity:100%;
    }

    #text_4 {

        width: 100%;
        grid-area: top;
        text-align: center;
        margin-bottom: 5%;
    }


    #text_5 {
        order: 2;
        position: relative;
        bottom: 15%;
    }

    #text_6 {
        grid-area: bottom1;
        position: relative;
        bottom: 15%;
    }
    #img_1{
        order: ;

    }

    #img_2{
        grid-area: bottom2;
        right: 20px;
    }

    #img_2_2 {
         position: relative;
         right: 20%;

         width: 105%;
    }

/*-------------------------------------landing page mobile section 2-----------------------------------------------*/

 .container_2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "text_2 text_2" "bronce bronce" "niquelado text_3 ";

    background-color: var(--white);
    font-size: 1rem;
}

 #text_2 {
    grid-area: text_2;
    width: 100%;
    text-align: center;
 }

 #div_bronce {

    grid-area: bronce;
    padding: 0%;
    margin-bottom: 3vw;
 }

 #img_bronce {

    transform: rotate(-90deg);
    width: 80%;
    margin: 0%;

 }

#text_3{
    grid-area: text_3;
    font-size: 1.5rem;
}
 #div_niquelado {
    position: relative;
    width: 90%;
 }

 #img_niquelado {
    grid-area: niquelado;

    width: 100%;
    border-radius: 20%;
 }

/*-------------------------------------landing page mobile section 3-----------------------------------------------*/
.container_3 {

    display: grid;
    grid-template-rows: 5vw 65vw;
    grid-template-columns: 40vw 60vw;
    grid-template-areas: "heading heading" " paragraph cactus";

    background-color: var(--white);

}

#heading {
    position: static;
    grid-area: heading;
}

#paragraph_1 {
    grid-area: paragraph;
    margin-left: 5vw;
    padding: 0vw;
}

#div_cactus {
position: static;
grid-area: cactus;

}

#img_cactus1{
    position: static;
    margin-left: 8vw;

    width: 50vw;
    border-radius: 15%;
}
#img-portacajas1 {
    position: relative;

    max-width: 0vw;
}
/*-------------------------------------landing page mobile footer-----------------------------------------------*/

#social_media {
 display: none;
 width: 0%;
}

  /*------------------------------javascript----------------------*/
    .main-container.activo {
        top: 285px;

        transition: .4s ease;
    }
}

